.contacts_page_cont {
    width: 100%;
    min-height: 100vh;
}

.map_img_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map_img {
  cursor: pointer;
  margin: 20px;
  border-radius: 15px;
  max-width: 100%;
}